#body {
	background-color: rgba(16, 98, 153, 0.95);
	color: white;
	height: 100vh;
}

#about_content {
	height: 100vh;
	color: rgb(16, 98, 153);
}

#main-title {
	font-family: 'Playball', cursive;
	font-size: 65px;
	text-align: center;
	text-shadow: 2px 2px rgba(0,0,0,0.75);
	margin-bottom: 0;
}
#subtitle {
	font-family: 'Playball', cursive;
	font-size: 35px;
	text-align: center;
	text-shadow: 2px 2px rgba(0,0,0,0.75);
	margin-top: 10px;
}
.construction {
	font-family: 'Raleway';
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px rgba(0,0,0,0.75);
}

#construction-top {
	margin-top: 1em;
}

#envelope-container {
	margin-top: 0;
}

#envelope {
	text-align: center;
	font-size: 4em;
}

#envelope:link, #envelope:visited {
	text-decoration: none;
	color: white;
}
#envelope:hover {
	cursor: pointer;
	text-decoration: none;
	color:#9d9d9d;
}
#envelope:active {
	text-decoration: none;
	color: white;
}

#player {
	width: 300px;
	height: 150px;
}

@media (min-width: 768px) { /* For anything larger than mobile */
	#main-title {
		font-size: 100px;
	}
	#subtitle {
		font-size: 50px;
		margin-top: 0;
	}
	.construction {
		font-size: 35px;
	}
	#inner {
		padding-top: 5em;
	}
	#player {
		width: 560px;
		height: 315px;
	}
}