#body {
	background-color: rgb(255,255,255);
	color: rgb(255,255,255);
}

#inner {
	padding: 0;
}

#title-container {
	background-color: rgba(16, 98, 153, 0.95);
	padding: 0;
	height: 100vh;
	box-shadow: 0px 1px .5px rgba(0,0,0,0.75); 	
}

#subtitle-container {
	background-color: rgba(16, 98, 153, 0.95);
	padding: 0;
	height: 30vh;
}

#about_content {
	height: 100vh;
	color: rgb(16, 98, 153);
}

#main-title {
	font-family: 'Playball', cursive;
	font-size: 65px;
	text-align: center;
	text-shadow: 2px 2px rgba(0,0,0,0.75);
	margin-bottom: 0;
}
#subtitle {
	font-family: 'Playball', cursive;
	font-size: 35px;
	text-align: center;
	text-shadow: 2px 2px rgba(0,0,0,0.75);
	margin-top: 10px;
	margin-bottom: .25em;
}
.construction {
	font-family: 'Raleway';
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px rgba(0,0,0,0.75);
}

#construction-top {
	margin-top: .25em;
}

#envelope-container {
	margin-top: 0;
}

.contact-icons:link, .contact-icons:visited {
	text-decoration: none;
	color: white;
}
.contact-icons:hover {
	cursor: pointer;
	text-decoration: none;
	color:#9d9d9d;
}
.contact-icons:active {
	text-decoration: none;
	color: white;
}

/* Member */

#member-container {
	background-color: rgb(246,246,246);
	text-align: center;
	color: rgb(16, 98, 153);
	height: auto;
	box-shadow: 0px 1px .5px rgba(0,0,0,0.75); 
}

#meet {
	font-family: 'Playball', cursive;
	font-size: 40px;
	text-shadow: .75px .75px rgba(0,0,0,0.75); 
}

.member-icons {
	width: 8em;
	height: 8em;
	margin: .5em;
}

.member-name {
	font-family: 'Playball', cursive;
	font-size: 2em;
	text-shadow: .5px .5px rgba(0,0,0,0.75);
	margin-bottom: 0;
	text-align: center;
}

.member-description {
	font-family: 'Raleway';
	text-shadow: .5px .5px rgba(0,0,0,0.75);
	color: black;
	font-size: 1.5em;
	display: none;
}

.member-major {
	text-align: center;
}

#player {
	width: 300px;
	height: 150px;
	margin-top: 1.5em;
}

.contact-icons {
	margin-left: .5em;
	margin-right: .5em;
	font-size: 2em;
	color: white;
}

@media (min-width: 768px) { /* For Small Screens, larger than Mobile */
	#main-title {
		font-size: 100px;
	}
	#title-container {
		height: 107vh;
	}
	#subtitle {
		font-size: 50px;
		margin-top: 0;
	}
	#subtitle-container {
		height: 35vh;
	}
	.construction {
		font-size: 35px;
	}
	#construction-top {
		margin-top: .5em;
	}
	#inner {
		padding: 0;
	}
	#player {
		width: 560px;
		height: 315px;
		margin-bottom: 1em;
	}
	.contact-icons {
		font-size: 5em;
	}
	#meet {
		font-size: 50px;
		text-shadow: 1px 1px rgba(0,0,0,0.75);
	}
	.member-icons {
		width: 12em;
		height: 12em;
		margin: 1em 2em;
	}
	.member-name {
		font-size: 3em;
		text-align: inherit;
	}
	.member-major {
		text-align: inherit;
	}
	.member-description {
		display: block;
	}
}

@media (min-width: 1200px) { /* For Small Screens, larger than Mobile */
	#main-title {
		font-size: 115px;
	}
	#subtitle {
		font-size: 65px;
		margin-top: 0;
		margin-bottom: .25em;
	}
	#meet {
		font-size: 75px;
	}
	.construction {
		font-size: 45px;
	}
	#inner {
		padding:0;
	}
	#player {
		width: 675px;
		height: 333px;
		margin-bottom: 1em;
	}
	.contact-icons {
		font-size: 6em;
	}
	.member-icons {
		width: 12em;
		height: 12em;
		margin: 1em 2em;
	}
}

/* Icomoon stuff */

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?tci24j');
	src:url('../fonts/icomoon.eot?tci24j#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?tci24j') format('truetype'),
		url('../fonts/icomoon.woff?tci24j') format('woff'),
		url('../fonts/icomoon.svg?tci24j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
	content: "\f003";
}
.icon-facebook2:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-instagram:before {
	content: "\f16d";
}


